@import url('./reset.css');
*,
*::before,
*::after {
  box-sizing: border-box;
}

.search-form{
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 371px;
  margin-left: auto;
  margin-right: auto;
}

.search-input{
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 15px;
  background: #fff;
  border: 1px solid #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:focus{
  border: 1px solid #4e75ff;
  outline: none;
  color: #2e2f42;
  background-color: #fff;
    ;
}

.btn-search {
border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #4E75FF;
  border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;   
}

.btn-search:hover {
  background: #6C8CFF;
}

.gallery {
  list-style: none;
  width: 1140px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
  height: 152px;
}

.gallery-item{
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}

.gallery-item-description{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      height: 46px;
      align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid black;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #FF3D00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}